body{
    background-image: url("https://cdn.guidingtech.com/imager/media/assets/192851/Shooting-Star-at-Night-4K-Wallpaper-1366x768_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524147393");
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
    text-align: center
}
div{
    text-align: center;

}
h1{
    font-size: 60px;
    font-family: 'Lobster', cursive;
}
p{
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

h2{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: aqua
}
img{
    height: 20%;
    width: 10%
}
